In [1]:
print("hello world")

hello world

In [2]:
x = 2
y = 3
z = x + y
print(z)

5

In [8]:
print("
i want
to do 
it
"
)

SyntaxError: EOL while scanning string literal (<ipython-input-8-94af916931f0>, line 1)

In [9]:
print("""
I want
to do
it
""")

I want
to do
it

In [12]:
print("I want to do it")

I want to do it

In [13]:
a = 100
b = 100.7
c = a + b
print(c)

200.7

In [17]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [18]:
a, b = 1, 2
a, b = b, a + b

In [19]:
b

3

In [20]:
a

2

In [31]:
a = 3.4567
b = 4
c = a + b 
print("{} + {} = {}".format (a,b,c))
print("{1} + {0} = {2}".format (a,b,c))
print("{:0.2f} + {:0.2f} = {:0.2f}".format (a,b,c))
print("{0:0.2f} + {1:0.2f} = {2:0.2f}".format (a,b,c))
print("{0:5.2f} + {1:5.2f} = {2:5.2f}".format (a,b,c))

3.4567 + 4 = 7.4567
4 + 3.4567 = 7.4567
3.46 + 4.00 = 7.46
3.46 + 4.00 = 7.46
 3.46 +  4.00 =  7.46

In [45]:
a = 4.444
b = 5.555
c = 6.6666
d = a + b +c
print("{1:4.2f} + {2:4.2f} + {0:3.2} = {3:2.0f}".format(a,b,c,d))

5.55 + 6.67 + 4.4 = 17

In [53]:
a = 2
b = 3.2
c = 2 + 4j
print(a + c)
print(b + c)
print(a * c)
print(b * c)

(4+4j)
(5.2+4j)
(4+8j)
(6.4+12.8j)

### String

In [60]:
a = 'Hello'
b = 'World'
c = a + b
print(a + b)
print("a + b")

HelloWorld
a + b

In [62]:
c.upper()

'HELLOWORLD'

In [63]:
c.lower()

'helloworld'

In [64]:
c.capitalize()

'Helloworld'

In [65]:
c.replace('World','Alfred')

'HelloAlfred'

In [66]:
name = "Alfred"
print("My name is {}".format(name))

My name is Alfred

In [70]:
country = "france"
country = country.upper()
capital = "Paris"
print("The capital of {} is {}".format(country, capital))

The capital of FRANCE is Paris

In [75]:
a = '      Hello'

In [76]:
a

'      Hello'

In [77]:
a.strip()

'Hello'

In [78]:
b = 'World'

In [81]:
print(a+b)
print(a.strip() + b)

      HelloWorld
HelloWorld

In [82]:
a = 'Today is a sunny day'
b = a.split()
print(a)
print(b)

Today is a sunny day
['Today', 'is', 'a', 'sunny', 'day']

In [87]:
a = 'The answer = 5'
b = a.split('=')
print(a)
print(b)

The answer = 5
['The answer ', ' 5']

In [91]:
c = "is".join(b)
print(c)
d = "is".join(a)
print(d)

The answer is 5
Tishiseis isaisnissiswiseisris is=is is5

In [94]:
a = 'abc@def.com'
b = a.split("@")
print(domain)
print("The user name is {} and domain name is {}".format(b[0],b[1]))

['abc', 'def.com']
The user name is abc and domain name is def.com

In [101]:
a = "Today is a nice Day"
print(a.find('nice'))
print(a.find('day'))
print(a.find('Day'))

11
2
16

In [107]:
dna = 'atgctgcgtcca'
print(dna.count('c'))
gc = (dna.count('c') + dna.count('g'))/(dna.count('a')+dna.count('t')+dna.count('g')+dna.count('c'))
gc_per = gc * 100.0
print(gc_per)

4
58.333333333333336

### List

In [109]:
a = [3, 4, 5, 6, 9]
a[0:3]

[3, 4, 5]

In [114]:
a[1:]

[4, 5, 6, 9]

In [115]:
a[:2]

[3, 4]

In [116]:
a[-1]

9

In [117]:
a[-2]

6

In [232]:
a = [1, 2, "foo", 5, "bar"]
a

[1, 2, 'foo', 5, 'bar']

In [233]:
a[2] = 10
a

[1, 2, 10, 5, 'bar']

In [145]:
a = [5, 4, 3, 2, 1]
print(a.index(4))
print(a.index(1))

1
4

In [146]:
b = ['A', 'B', 'C', 'D', 'E']
b.index('B')

1

In [147]:
a.append(10)

In [148]:
a

[5, 4, 3, 2, 1, 10]

In [149]:
a.insert(2, 99)

In [150]:
a

[5, 4, 99, 3, 2, 1, 10]

In [151]:
a.insert(-1, 199)

In [152]:
a

[5, 4, 99, 3, 2, 1, 199, 10]

In [153]:
a.remove(1)

In [154]:
a

[5, 4, 99, 3, 2, 199, 10]

In [155]:
del a[1]

In [156]:
a

[5, 99, 3, 2, 199, 10]

In [157]:
a.pop()

10

In [158]:
a

[5, 99, 3, 2, 199]

In [159]:
a.pop()

199

In [160]:
a

[5, 99, 3, 2]

In [161]:
a = [1, 2, 3, 4]

In [162]:
b = a
b

[1, 2, 3, 4]

In [163]:
c = a.copy()
c

[1, 2, 3, 4]

In [164]:
a[0] = 7
a

[7, 2, 3, 4]

In [165]:
print("a:", a)
print("b:", b)

a: [7, 2, 3, 4]
b: [7, 2, 3, 4]

In [166]:
a.sort()

In [167]:
a

[2, 3, 4, 7]

In [168]:
a.sort(reverse=True)

In [169]:
a

[7, 4, 3, 2]

In [170]:
sorted(a)

[2, 3, 4, 7]

In [171]:
a.reverse()

In [173]:
b = [1, 4, 2, 5, 9]
b

[1, 4, 2, 5, 9]

In [174]:
sorted(b)

[1, 2, 4, 5, 9]

In [175]:
b

[1, 4, 2, 5, 9]

In [177]:
b.sort()

In [178]:
b

[1, 2, 4, 5, 9]

In [179]:
b.reverse()

In [180]:
b

[9, 5, 4, 2, 1]

In [183]:
b.reverse()

In [212]:
a = [2, 4, 2, 2, 4]
print("Sum = ", sum(a))
print("Min = ", min(a))
print("Max = ", max(a))
print("Len of a = ", len(a))
print(a.count(x))

Sum =  14
Min =  2
Max =  4
Len of a =  5
3

In [216]:
b = [1, 2, 1, 3, 1]
print(b.count(x))

1

In [220]:
letters =['A','C','C','A','T','T','G','A','C','A']
print(letters.count('A'))
print(letters.index('T'))
letter2 = letters.copy()
print(letter2)
letter2.remove('G')
print(letter2)
letter2.insert(3,'A')
print(letter2)
letter2.reverse()
print(letters2)

4
4
['A', 'C', 'C', 'A', 'T', 'T', 'G', 'A', 'C', 'A']
['A', 'C', 'C', 'A', 'T', 'T', 'A', 'C', 'A']
['A', 'C', 'C', 'A', 'A', 'T', 'T', 'A', 'C', 'A']
['A', 'C', 'A', 'T', 'T', 'A', 'A', 'C', 'C', 'A']

### Tuple

In [229]:
a = (1, 2, 3, 4)
print(a)
b = (2, 3, 5)
print(a+b)
print(sum(a))

(1, 2, 3, 4)
(1, 2, 3, 4, 2, 3, 5)
10

In [230]:
a.append(999)

AttributeError: 'tuple' object has no attribute 'append'

In [231]:
a.insert(3,8888)

AttributeError: 'tuple' object has no attribute 'insert'

In [227]:
a[-1]

4

In [228]:
b = [1, 2, 3, 4]
b[0]= 4
b

[4, 2, 3, 4]

In [234]:
capitals = {'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Roman'}
capitals

{'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Roman'}

In [238]:
capitals['Germany']

'Berlin'

In [239]:
a = {'a':3,'b':5,'c':6}
print(a)
print(a['b'])
a['d'] = 6
print(a)

{'a': 3, 'b': 5, 'c': 6}
5
{'a': 3, 'b': 5, 'c': 6, 'd': 6}

In [241]:
c = {'e':7,'f':9}
a.update(c)
print(a)

{'a': 3, 'b': 5, 'c': 6, 'd': 6, 'e': 7, 'f': 9}

### Set

In [245]:
a = {2,3,5}
b = {3,2,2,4,4}

In [246]:
print(a==b)
print(a)
print(b)

False
{2, 3, 5}
{2, 3, 4}

In [247]:
c = {5,6,3,10}
print(a.union(c))
print(a.intersection(c))

{2, 3, 5, 6, 10}
{3, 5}

In [248]:
sent = "Peter reads a book on a table"
words = sent.split()
vocab = set(words)
print(vocab)
print(len(vocab))

{'reads', 'book', 'table', 'Peter', 'on', 'a'}
6

### Change Type

In [249]:
a = {4,5,6,3}
b = list(a)
print(b)
c = tuple(a)
print(c)
d = set(c)
print(d)

[3, 4, 5, 6]
(3, 4, 5, 6)
{3, 4, 5, 6}