### Comprehension and Generators

In [1]:
[n ** 2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[n ** 2 for n in range(10) if not n % 2]

[0, 4, 16, 36, 64]

In [14]:
# c = [n **2 for n in range(20)]
a = []
b = 0
for i in range(200):
    c = i**2
    if ((c%3 != 0) and (c%5 != 0)):
        a.append(c)
        b = b + 1
        if (b >= 20): break
print(a)

[1, 4, 16, 49, 64, 121, 169, 196, 256, 289, 361, 484, 529, 676, 784, 841, 961, 1024, 1156, 1369]

In [31]:
# a = "Today is a great day and a great learning experience"
a = "Today is a great day"
words = a.split()
print(words)
first_letter = [word[0] for word in words]
print(first_letter)
last_letter = [word[-1] for word in words]
print(last_letter)

['Today', 'is', 'a', 'great', 'day']
['T', 'i', 'a', 'g', 'd']
['y', 's', 'a', 't', 'y']

In [26]:
for word in words:
    print(word[0])

T
i
a
g
d

In [33]:
# Set Comprehension
a = {i*i for i in range(1,11) if i%2==0}
a

{4, 16, 36, 64, 100}

In [42]:
a1 = {0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}
print(a1)

e = {i*i for i in range(11)}
print(e)

#print(d == e)

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}
{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [44]:
a = {i:i*i for i in range(1,11) if i%1==0}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [47]:
(n*n for n in range(10))
(n*n for n in range(10) if n % 2 == 0)

sum1 = sum(i*i for i in range(10) )
print("sum:", sum1)

for i in (n*n for n in range(10)):
    print(i)

sum: 285
0
1
4
9
16
25
36
49
64
81

In [53]:
a = (n*n for n in range(10))
for i in range(10):
    print(next(a))

0
1
4
9
16
25
36
49
64
81

In [51]:
# Challenge
namelist = ['Ally','Jane','Belinda']
upper_name = (name.upper() for name in namelist)
print(next(upper_name))
print(next(upper_name))
print(next(upper_name))

ALLY
JANE
BELINDA

In [55]:
def even(n):
    for i in range(n):
        if i%2==0: yield i
for i in even(10):
    print(i)
# b = even(10000000000000)
# print(next(b))

0
2
4
6
8

In [61]:
def square(n):
    a = []
    for i in range(n):
        a.append(i*i)
    return a

In [57]:
square(10)

[0]

In [58]:
def square2(n):
    for i in range(n):
        yield i*i

In [63]:
for i in square2(10):
    print(i)

0
1
4
9
16
25
36
49
64
81

In [64]:
# Fibonaci Challenge
def fibo():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [67]:
#for i in fibo():
#    print(i)

f = fibo()
for i in range(10):
    print(next(f))

0
1
1
2
3
5
8
13
21
34