### Database

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('test.db')

In [3]:
db.execute('create table student (name text,rank int)')

In [4]:
db.commit()

In [5]:
# Insert Record
db.execute('insert into student (name,rank) values (?,?)',('Belinda',2))
db.execute('insert into student (name,rank) values (?,?)',('Jane',3))
db.execute('insert into student (name,rank) values (?,?)',('Steve',4))
db.execute('insert into student (name,rank) values (?,?)',('Alfred',5))
db.commit()

In [8]:
# Read REcord
list = db.execute('select * from student order by rank')

In [11]:
for i in list:
    print(i)

('Belinda', 2)
('Jane', 3)
('Steve', 4)
('Alfred', 5)

In [12]:
# Update Record
db.execute('update student set rank=? where name=?',(5,'Steve'))
db.execute('update student set rank=? where name=?',(4,'Alfred'))

In [13]:
list = db.execute('select * from student order by rank')
for i in list:
    print(i)

('Belinda', 2)
('Jane', 3)
('Alfred', 4)
('Steve', 5)

In [14]:
# Delete Data
db.execute('DELETE FROM student WHERE rank = 4')

In [15]:
list = db.execute('select * from student order by rank')
for i in list:
    print(i)

('Belinda', 2)
('Jane', 3)
('Steve', 5)

In [16]:
# Challenge
db = sqlite3.connect('school.db')

db.execute('create table subjects (subject text,students int, classes int)')

db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('English',200,10))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Chinese',50,8))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Math',80,12))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Science',80,12))
db.commit()

list = db.execute('select * from subjects order by subject')

for i in list:
    print(i)

('Chinese', 50, 8)
('English', 200, 10)
('Math', 80, 12)
('Science', 80, 12)